<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babarehner.android.pycolib">

    <!-- Where should uses-permission go in manifest file??
    developer.android.com/training/permissions/declaring.html-->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LibraryActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity metaadata to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".BookActivity"
            android:parentActivityName=".LibraryActivity"
            android:theme="@style/BookTheme">

            <!-- Parent activity metaadata to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LibraryActivity" />
        </activity>
        <activity
            android:name=".PatronActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">

            <!-- Parent activity metaadata to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PythonistaActivity"
            android:parentActivityName=".PatronActivity"
            android:theme="@style/BookTheme">

            <!-- Parent activity metadata to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PatronActivity" />
        </activity>
        <activity
            android:name=".CheckOutActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation"
            android:theme="@style/BookTheme">

            <!-- Parent activity metadata to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".CheckInActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/BookTheme">

            <!-- Parent activity metadata to support Android 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:name=".data.LibraryProvider"
            android:authorities="com.babarehner.android.pycolib"
            android:exported="false" />

    </application>

</manifest>